[Desktop Entry]
Type=Application
Name=yahac
Comment=Yet Another Home Assistant Client
Exec=yahac
Icon=io.github.dseichter.yahac
Categories=Utility;Network;
StartupNotify=false