#!/usr/bin/make -f

export DH_VERBOSE=1
export PYBUILD_NAME=yahac

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	# Skip Python build, binary is already provided
	mkdir -p debian/tmp/usr/bin
	# Binary will be copied by before-build-hook
