#!/usr/bin/make -f

export DH_VERBOSE=1
export PYBUILD_NAME=yahac

%:
	dh $@

override_dh_auto_clean:
	# Skip clean

override_dh_auto_configure:
	# Skip configure

override_dh_auto_build:
	# Skip build, using pre-built binary

override_dh_auto_test:
	# Skip tests

override_dh_auto_install:
	# Install the binary that was copied by before-build-hook
	mkdir -p debian/tmp/usr/bin
	test -f debian/tmp/usr/bin/yahac || cp yahac-binary debian/tmp/usr/bin/yahac
	chmod +x debian/tmp/usr/bin/yahac
